#container {
  position: absolute;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  font-weight: bold;
}


h1 {
  margin-left: 30px;
}

#title {
  font-family: 'Schoolbell', cursive;
}

h2 {
  font-size: 50px;
}

#image {
  float: right;
}

div {
  text-align: center;
}


#landfill {
  width: 1300px;
}
